<div class="head">
  <div class="navbar_left">
    <a class="navbar-brand" href="/"><img src="https://d17f28g3dsa4vh.cloudfront.net/img/kippt-logo-r.png" width="68"></a>
  </div>
  <div class="navbar_right">
    <nav>
    <ul class="nav pull-right">
      <li><%= link_to "Home",    '#' %></li>
      <li class="sep"></li>
      <li><%= link_to "注册",    '#' %></li>
      <li><%= link_to "登陆", '#' %></li>
    </ul>
    </nav>
  </div>

  <div class="content">
    <div class="content_left">
      <h2> Build your online library of amazing things</h2>
      <p>Use Kippt to collect research, stories, inspiration and notes</p>
    </div>

    <div class="content_right">
      <a href="/signup/" class="btn btn-primary pull-right">Get Started</a>           
    </div>
  </div>
</div>
