<li>
	<div class="imgBox">
		<a href="#"><img src="<%= deal.image_link%>" width="200" height="200" /></a>
	</div>
	<div class="txtBox">
		<h3><a href="#">标题标题标题标题标题标标</a></h3>
		<p><a href="#">描述描述描述描述描述描述描述描述描述描述描述描</a></p>
	</div>
</li>