<div class="recommended_list">
  <div class="box" id="sales-product">
    <div class="module-title">
      <H3>促销产品</H3>
    </div>

    <div class="js j_index_carouseProduct" id="sales-product-main">
      <ul>
        <%= render :partial => "deal", :collection => @recommended_deals %>
      </ul>
    </div>
  </div>
</div>
