// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* deals */

.navbar {
  .deal_list {
    height:460px;
    margin:0 auto;
  }
  li { list-style:none; margin-top:20px; margin-right:5px; }
}

.bottom_deals {
	width:942px; height:210px; margin:0 auto;
}
