// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* deals */

a {
	color: #4D4D4D;
	text-decoration: none;
}

.navbar {
	.recommended_list {
		height:460px;
		margin:0 auto;
	}
	li { list-style:none; margin-top:20px; margin-right:5px; }
}

.navbar {
	.deals {
		height:1000px; width: 1050px; margin:0 auto;
		.title {
			height: 25px; width: 1050px; border-top:red 2px solid;
			.title_t   { width: 115px; height:25px; margin: 12px 6px 0 14px;
				float: left; background:url("http://www.56mi.com/imgs/flo.png") no-repeat;
				a { display: block; text-indent:-1000em; }
			}
			.title_sub {
				width: 800px; height:25px; float: left; margin: 15px 0px 0 20px; text-align:right;
				p { a { margin-left:10px;} }
			}
			.title_m   { width: 50px; height:25px; float: right; margin: 16px 10px 0 0;}
		}
		.list {
			height: 350px; width:1050px; float: left;
			.box {
				height:300px; width:223px; float: left; margin-left: 10px;
				background:#F5F8F6; padding: 15px 14px 0 13px;
				.sbox_nam {width: 170px;height: 36px;display: block;overflow: hidden;margin-top: 7px; margin-left:25px;}
				.sbox_pri {color: gray;height: 22px;display: block;overflow: hidden;}
				.sbox_buy{width:170px;
					.sbox_buy_now {
						background: url("http://www.56mi.com/imgs/tip.png") 0 -48px no-repeat;
						padding-left: 14px; font-family: Verdana;
						font-size: 18px; font-weight: normal; color: #D10303;
					}
					.sbox_buy_buybtn {
						background: url("http://www.56mi.com/imgs/tip.png") 0 -96px no-repeat;
						width: 54px; height: 22px; display: block; float: right; line-height: 22px;
						color: white; text-align: center;
					}
				}
			}
		}
	}
}
